.page-navbar {
  margin-bottom: 0;
  background-color: #13181D;
  background-image: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  border-radius: 0;
  height: 55px;
  border-width: 0 0 0 0;
  border-color: rgba(255, 255, 255, 0.2);
  z-index: 16;
}

.page-navbar__logo-container {
  top: 0;
  height: 55px;
  width: 100%;
}

.page-navbar__logo {
  height: 33px;
  margin-top: 11px;
}

.page-navbar__nav {
  margin-left: 20px;
}
