.app__header {
  position: relative;
  height: 240px;
  background-color: black;
  margin-bottom: 30px;
}

.app__background {
  opacity: 0.55;
  height: 100%;
  background-image: url(/images/background.jpg);
  background-position-y: -200px;
}

.app__logo-container {
  position: absolute;
  top: 0;
  height: 55px;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.app__logo {
  height: 33px;
  margin-left: 32px;
  margin-top: 11px;
}

.app__title {
  position: absolute;
  top: 55px;
  color: white;
  text-align: center;
  width: 100%;
  border: none;
}
