.frontdoor__header {
  position: relative;
  height: 500px;
  background-color: black;
  margin-bottom: 30px;
}

.frontdoor__mobile-header {
  position: relative;
  top: 80px;
  margin-bottom: 60px;
}

.frontdoor__background {
  opacity: 0.55;
  height: 100%;
  background-image: url(/images/background_2_copy.jpg);
  background-position-y: -150px;
  background-size: cover;
}

.frontdoor__title {
  position: absolute;
  top: 170px;
  color: white;
  text-align: center;
  width: 100%;
  border: none;
  padding: 0 293px;
  font-weight: 300;
  font-size: 32px;
}

.frontdoor__calltoaction {
  position: absolute;
  bottom: 135px;
  width: 187px;
  left: 50%;
  margin-left: -93.5px;
  background-color: transparent;
  background-image: none;
  border-color: white;
  border-radius: 0;
  padding: 12px 0;
  border-width: 2px;
}

.frontdoor__calltoaction:hover {
  background-color: white;
  color: black;
  border-color: white;
}
