.icon-card {
  height: 250px;
  border-radius: 8px;
  padding: 10%;
}

.icon-card__header {
  text-align: center;
}

.icon-card__icon {
  font-size: 50px;
}

.icon-card__body {
  text-align: center;
}
