.section {
  font-size: 21px;
  font-weight: 200;
  background-color: #13181d;
  color: white;
  padding: 60px 0;
  margin-top: 30px;
  text-align: center;
  font-family: 'Droid serif', serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.section--thin {
  padding: 9px 0 0;
}

.section--white {
  font-family: 'Open sans', sans-serif;
  background-color: white;
  color: #13181d;
  padding: 25px 0;
  text-align: left;
}
