.slide {
  height: 390px;
  font-size: 21px;
  font-family: 'Droid serif', serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  padding: 130px 214px;
  font-size: 32px;
  text-align: center;
}
