include page_navbar

mixin frontdoor()
  .frontdoor
    +navbar()
    header.frontdoor__header.visible-md.visible-lg
      .frontdoor__background
      h1.page-header.frontdoor__title
        | Pigwolf bietet Ihnen die richtige Strategie
        | für intelligentes Wachstum!
        br
      //- button.btn.btn-primary.btn-lg.frontdoor__calltoaction Erfahren Sie mehr
    header.frontdoor__mobile-header.hidden-md.hidden-lg
      .container
        .jumbotron
          h2 Herzlich willkommen
          p
            | Pigwolf bietet Ihnen die richtige Strategie
            | für intelligentes Wachstum!
    block
