mixin frontdoor()
  .frontdoor
    header.frontdoor__header
      .frontdoor__background
      .frontdoor__logo-container
        a(href='/')
          img.frontdoor__logo(src='/images/logo-dark.png')
      h1.page-header.frontdoor__title
        | Pigwolf bietet Ihnen die richtige Strategie
        | für intelligentes Wachstum!
        br
      button.btn.btn-primary.btn-lg.frontdoor__calltoaction Erfahren Sie mehr
    .container
      block
