mixin navbar()
  nav.page-navbar.navbar.navbar-default
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          .page-navbar__logo-container
            img.page-navbar__logo(src='/images/logo-dark.png')
      // Collect the nav links, forms, and other content for toggling
      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.page-navbar__nav
          li
            a(href='/') Home
          li
            a(href='/#marketing') Marketing
          li
            a(href='/#contact') Kontakt
          //- li
          //-   a(href='#') Marketing
          //- li
          //-   a(href='#') Referenzen
          //- li
          //-   a(href='#') Team
        ul.nav.navbar-nav.navbar-right
          li
            a(href='//board.pigwolf.com') Interesse?
