extends /layouts/app

block body
  .container
    br
    a(href='/')
      i.fa.fa-chevron-left
      |  Zurück
    hr
    h1 Impressum
    h2 Angaben gemäß § 5 TMG:
    p
      | pigWOLF GbR
      br
      | Gustav-Merz-Str. 8
      br
      | 88400 Biberach
    h2 Vertreten durch:
    p
      | Pascal Weber
      br
      | Andreas Baier
      br
      | Dominik Burgdörfer
      br
      | Deniz Altinok
    h2 Kontakt:
    table
      tr
        td Telefon:
        td
      tr
        td E-Mail:
        td info@pigwolf.com
    h2 Umsatzsteuer-ID:
    p
      | Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
      br
      | DE304909071
    p  
    p
      | Quelle: 
      em
        a(href='http://www.e-recht24.de/impressum-generator.html') http://www.e-recht24.de
