extends /layouts/app

include /mixins/frontdoor
include /mixins/icon_card

block body
  +frontdoor()
    .row
      .col-md-4
        +icon-card({ icon: 'fa fa-thumbs-up' })
          h3 Kunden finden
          p Sie sind ständig auf der Suche nach neuen Kunden?
          a.btn.btn-primary(href='//board.pigwolf.com/offers/new?intention=1')
            i.fa.fa-thumbs-up
            |  Ja
      .col-md-4
        +icon-card({ icon: 'fa fa-users' })
          h3 Bewerber finden
          p
            | Sie brauchen qualifizierte Arbeitskräfte für Ihr Unternehmen?
          a.btn.btn-primary(href='//board.pigwolf.com/offers/new?intention=2')
            i.fa.fa-thumbs-up
            |  Ja
      .col-md-4
        +icon-card({ icon: 'fa fa-bolt' })
          h3 Kundeninteraktion
          p Sie möchten besser mit ihrem Kundenstamm kommunizieren?
          a.btn.btn-primary(href='//board.pigwolf.com/offers/new?intention=3')
            i.fa.fa-thumbs-up
            |  Ja
