extends /layouts/app

include /mixins/frontdoor
include /mixins/icon_card

block body
  +frontdoor()
    .container
      .row
        .col-md-4
          +icon-card({ icon: 'fa fa-thumbs-up' })
            h3 Kunden finden
            p Sie sind ständig auf der Suche nach neuen Kunden?
            a.btn.btn-primary(href='//board.pigwolf.com/offers/new?intention=1')
              i.fa.fa-thumbs-up
              |  Ja
        .col-md-4
          +icon-card({ icon: 'fa fa-users' })
            h3 Bewerber finden
            p
              | Sie brauchen qualifizierte Arbeitskräfte für Ihr Unternehmen?
            a.btn.btn-primary(href='//board.pigwolf.com/offers/new?intention=2')
              i.fa.fa-thumbs-up
              |  Ja
        .col-md-4
          +icon-card({ icon: 'fa fa-bolt' })
            h3 Kundeninteraktion
            p Sie möchten besser mit Ihrem Kundenstamm kommunizieren?
            a.btn.btn-primary(href='//board.pigwolf.com/offers/new?intention=3')
              i.fa.fa-thumbs-up
              |  Ja
    section.banner
      .container
        p
          | Was früher der Marktplatz für den Händler war, ist heute das Internet. Für ein 
          | modernes Unternehmen bietet das Internet unendlich viele Möglichkeiten. Es gibt Ihnen 
          | die Chance, jeden Menschen gezielt und unabhängig von seinem Standort zu erreichen.
        br
        a.btn.btn-lg.btn-primary.btn-thick(href="//board.pigwolf.com") Legen Sie los!
    .container.margin-top
      .frontdoor-carousel.carousel(data-ride='carousel')
        .frontdoor-carousel__background
        // Indicators
        ol.carousel-indicators
          li.active(data-target='.carousel', data-slide-to='0')
          li(data-target='.carousel', data-slide-to='1')
          li(data-target='.carousel', data-slide-to='2')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            .slide
              | Warum auf diesem Weg nicht
              br
              | neue Zielgruppen erreichen und zusätzliche 
              | Geschäftsfelder erschließen? 
            .carousel-caption
          .item
            .slide
              | Warum auf diesem Weg nicht
              br
              | gezielt junge, qualifizierte und motivierte Mitarbeiter 
              | finden?
            .carousel-caption
          .item
            .slide
              | Warum auf diesem Weg nicht
              br
              | Menschen von der eigenen Marke begeistern?
            .carousel-caption
        // Controls
        a.left.carousel-control(href='.carousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='.carousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next

    section#marketing.banner.banner--white
      .container
        h1.page-header MARKETING
        p
          | Wir helfen Ihnen, von den Vorteilen des Online-Marketings zu profitieren und Ihr 
          | Unternehmen im Umfeld des modernen E-Commerce voranzubringen. Nur ein aktiver
          | Unternehmer besteht im Wettbewerb.

        p
          | Durch unser Marketing-System ist es möglich, regional und überregional Ihre Zielgruppe
          | zu erreichen und das Kundenfeld nach Ihren Kriterien einzugrenzen.

        p
          | Wir bieten Ihnen: 

        ul
          li Werbung auf verschiedenen Plattformen
          li Regionale und überregionale Kundensuche
          li Individuelle Softwarelösungen
          li Sicheres und modernes Hosting

        p
          | Betreiben Sie kein
          i  Small Thinking Marketing
          |  sondern schöpfen Sie alle Möglichkeiten des
          i  Big Thinking Marketings
          |  aus, um Ihre Zielgruppe überlegt anzusprechen und das
          | gesamte Potential Ihres Unternehmens zu entfalten.

    section.banner
      .container
        p Intelligent wachsen mit pigWOLF.
        a.btn.btn-lg.btn-primary.btn-thick(href="//board.pigwolf.com") Wachsen Sie mit!

    section#team.banner.banner--white
      .container
        h1.page-header TEAM
        .row
          .col-md-8
            p
              | Unser Team besteht aus Experten der Bereiche Vertrieb, Marketing, Technologiemanagement,
              | Social Network Analysis, Künstliche Intelligenz, Informatik und Controlling. Dadurch ist
              | eine ganzheitliche Betrachtung Ihres Unternehmens sichergestellt.
            
            p
              | Wir entwickeln Strategien und Systeme, die optimal an Ihre Mitarbeiter und Ihre
              | Unternehmenswerte angepasst sind. Für uns ist ein gesundes Wachstum Ihres Unternehmens
              | der wichtigste Maßstab.
          .col-md-4
            img.img-responsive.img-rounded.img-thumbnail(src='/images/team.jpg')
