h1, h2, h3 {
  font-family: 'Droid Serif', serif;
  -webkit-font-smoothing: antialiased;
  color: #13181d;
}

body {
  color: #13181d;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
